body {
  text-align: center;
  background-color: gainsboro;
  text-transform: capitalize;
}
img {
  width: 250px;
  height: auto;
}
.card {
  margin: 2.5%;
  transition: transform 0.2s; /* Animation */
  align-items: center;
}
.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.navbar {
  background-color: white;
}
#barra-buscar {
  margin-left: 50%;
}
#contenedor-busqueda {
  display: none;
}
#navbar-logo {
  width: 70px;
  height: auto;
}
